* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}
nav li {
  list-style: none;
}
nav li img {
  max-width: 60vw;
  max-height: 6vh;
}
.hero {
  background-color: #495E57;
  max-width: 100vw;
  padding: 3px 1rem;
}
.col {
  max-width: 50vw;
}

.hero h1 {
  color: #F4CE14;
  font-weight: 400;
}
.hero h2 {
  color: #fff;
  font-weight: 400;
}
.hero-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero-text p {
  font-size: 1rem;
  color: #fff;
  font-weight: 100;
  padding: 0 2px;
}
.hero p {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 100;
  padding: 0 2px;
}
.responsive {
  width: 100%;
  height: auto;
}
.yellow-btn {
  background-color: #F4CE14;
  border-radius: 5px;
  margin: 20px 0;
  padding: 9px 17px;
  border: #F4CE14;
  width: 100%;
  font-weight: 600;
}
.deliver {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 0 auto;
}
.specials{
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #f5f5f5;
}
.dish-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dish-description{
  margin: 0 6px 8px 0;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1.1rem;
  justify-content: center;
}
form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;  
}
form textarea,
select,
input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='date']
{
  width: 100%;
  padding: 15px 0;
  margin-top: 15px;
}
::placeholder{
  color: #000;
  font-weight: 500;
  padding: 10px;
  font-size: large;
}
.small{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.radio {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
label{
  color: #fff;
  font-size: larger;
}
span {
  color: #fff;
  font-size: larger;
  margin-top: 10px;
}
.margin{
  margin: 25px 0;
}
.menu{
  background-color: #edefee;
  border-radius: 16px;
  padding: 8px 11px;
  border: none;
  width: 100%;
  min-width: 85px;
}
.menu-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
}
.link{
  text-decoration: none;
  color: #000;
}
@media (min-width: 700px) {
  .hero h1 {
    font-size: 5rem;
  }
  .hero h2 {
    font-size: 3rem;
  }
  .hero-text p {
    font-size: 2rem;
    padding: 0 65px 0 0;
  }
  .hero-text img  {
    width: 20vw;
    padding: 0 0 0 65px;
  }
.yellow-btn {
   width: 30vw;
   padding: 10px 17px;
   font-size: larger;
  }
  
  .dish-description {
    max-width: 50vw;
    font-size: 1.5rem;
    margin: 0;
  }
  .deliver {
    margin: 0 3rem;
  }
  .c img{
  width: 40vw;
}
}
